{{define "LINE" -}}{{printf `%36s %36s %15s %10d` .Id .JobId .State .DocumentsCrawled}} {{with .StartTime}}{{time .}}{{end}} {{with .EndTime}}{{time .}}{{end}}{{with .Error}}
   {{red}}Error: {{.}}{{end -}}{{reset}}{{end -}}
{{inverse}}{{printf `%-36.36s %-36.36s %15s %10s %-24s %-24s` "Id" "JobId" "State" "Docs" "Start time" "End time"}}{{reset}}
{{range .Value}}{{template "LINE" .}}
{{end}}
TOTAL {{print .Count}}
