{{- /*gotype: github.com/nlnwa/veidemann-api-go/frontier/v1.JobExecutionStatus*/ -}}

{{define "HEADER" -}}
    {{inverse}}{{printf `%-36.36s %-36.36s %15s %8s %8s %-24s %-24s` "Id" "JobId" "State" "Docs" "Uris" "Start time" "End time"}}{{reset}}
{{end -}}

{{printf `%36s %36s %15s %8d %8d` .Id .JobId .State .DocumentsCrawled .UrisCrawled}} {{time .StartTime}} {{time .EndTime}}
{{range $key, $value := .ExecutionsState}}{{printf `%16s %5d` $key $value}}
{{end -}}
