{{define "HEADER" -}}
    {{printf `%-36.36s %-40s %-36s %-8s %-60s %-36s` "Id" "Url" "EntityId" "Disabled" "Labels" "JobId"}}
{{end -}}

{{printLabels .Meta.Label | printf `%36s %-40.40s %36.36s %8v %-60.60s` .Id .Meta.Name .Spec.Seed.EntityRef.Id .Spec.Seed.Disabled -}}
{{` [`}}{{flatMap .Spec.Seed.JobRef "Id" | join `, `}}{{`]`}}
